@model EntityLayer.Concrete.Category
@{
    Layout = null;
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    <div class="form-control">

        <label>Kategori Adı</label>
        <br />
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
        <br />
        <label>Açıklamayı Yazınız</label>
        <br />
        @Html.TextBoxFor(x => x.Description)
        @Html.ValidationMessageFor(x => x.Description)
        <br />
        <button class="btn btn-success" id="btn1">Kaydet</button>


    </div>
<script>
    $('#btn1').click(function () {

        swal("Harika!", "Kategıri Başarı İle Eklendi!", "success");
    })
</script>
}

