﻿@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "AddHeding";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<html>
@using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
{
    <body class="hold-transition sidebar-mini">

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">

                            <form role="form">
                                <div class="card-body">

                                    <div class="form-group">
                                        <label>Başlık İsmi</label>
                                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>Kategori</label>
                                        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
                                    </div>
                                    <label>Yazarlar</label>
                                    @Html.DropDownListFor(x => x.WriterID, (List<SelectListItem>)ViewBag.vlw, new { @class = "form-control" })
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button class="btn btn-primary">Başlığı Oluştur</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>

    </body>
}
</html>