
<button class="btn btn-outline-primary" data-toggle="modal" data-target="#Modal1">
    <span>Yeni Hakkımızda Girişi</span>
</button>


<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Yeni Hakkımızda Metni</h2>
            </div>

            <form method="post" action="/About/AddAbout/">
                <div class="modal-body">
                    <label>Hakkımda Ana Metni</label>
                    <input type="text" name="SmallDetail" class="form-control" required />
                    <br />
                    <label>Hakkımızda Alt Metin</label>
                    <input type="text" name="BigDetail" class="form-control" required />
                    <br />
                    <label> 1.Resim Yolu</label>
                    <input type="text" name="ImageUrlOne" class="form-control" required />
                    <br />
                    <label> 2.Resim Yolu</label>
                    <input type="text" name="ImageUrlTwo" class="form-control" required />
                    <br />
                    <button class="btn btn-outline-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>

</div>